$background: DarkGray;
$background-curriculo: White;

$background-personal-information: #333233;
$on-background-personal-information: White;

$background-timeline: White;
$on-backround-timeline: Black;

$primary: #e81862;