@use "extends" as *;
@use "functions" as *;
@use "colors";
@use "fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

main {
    background-color: colors.$background;
    height: 100vh;
    font-family: fonts.$roboto-400;
    display: flex;
    justify-content: center;
    align-items: center;

    .curriculo {
        background-color: colors.$background-curriculo;
        height: 885px;
        width: 650px;
        padding: 20px;
        border: solid black 2px;

        .personal-information {
            background-color: colors.$background-personal-information;
            height: 885px;
            width: 35%;
            float: left;
            display: flex;
            flex-direction: column;

            .profile-img {
                flex-grow: 1;

                img {
                    width: 100%;
                }
            }

            .profile {
                @extend %personal-information-section
            }

            .direction {
                @extend %personal-information-section
            }

            .contact {
                @extend %personal-information-section
            }

            .languages {
                @extend %personal-information-section;

                .spanish {
                    @include set-percent-language($percent: 100%)
                }

                .english {
                    @include set-percent-language($percent: 40%)
                }
            }
        }

        .time-line {
            background-color: colors.$background-timeline;
            height: 885px;
            width: 65%;
            float: left;
            display: flex;
            flex-direction: column;

            .name {
                height: 200px;
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                &:after {
                    content: "Anthony Fabian Leon Lucero";
                    font-size: 1.7em;
                    font-weight: bold;
                }
            }

            .education {
                @include timeline-information-section(
                        $title: "Educación",
                        $dates: "2020 - 2022\A\A 2018 - 2020",
                        $information-dates: "I.E.S. Alfonso X el Sabio\A\A I.E.S. Miguel Hernández",
                        $sections: 2
                )
            }

            .experience {
                @include timeline-information-section(
                        $title: "Experiencia",
                        $dates: "2021 - 2021\A\A 2019 - 2020",
                        $information-dates: "Grupo el Ciruelo\A\A Moyca grapes S.L.",
                        $sections: 2
                )
            }

            .others {
                @include timeline-information-section(
                        $title: "Otros",
                        $dates: "2018 - Actualidad",
                        $information-dates: "Voluntario Protección Civil"
                )
            }

            .knowledge {
                flex-grow: 2;
                display: flex;
                align-items: center;
                flex-direction: column;

                .title {
                    font-size: 1.3em;
                    margin: 0 0 20px 20px;
                    width: 100%;

                    &:before {
                        content: "Conocimientos";
                    }
                }

                .images {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;

                    .docker {
                        &:before {
                            content: url("https://img.shields.io/badge/docker-%230db7ed.svg?style=for-the-badge&logo=docker&logoColor=white");
                        }
                    }

                    .github {
                        &:before {
                            content: url("https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white");
                        }
                    }

                    .angular {
                        &:before {
                            content: url("https://img.shields.io/badge/angular-%23DD0031.svg?style=for-the-badge&logo=angular&logoColor=white");
                        }
                    }
                }
            }
        }
    }
}